* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    z-index: 3; /* Ensure it is above the hero section */
}

nav ul {
    display: flex;
    justify-content: space-evenly; /* Space out the list items */
    padding: 20px 10px;
   
}

nav ul li { margin: 20px;
    list-style: none; /* Remove default list styling */
}

nav ul li a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Add padding */
    transition: background-color 0.3s, color 0.3s; /* Add transition for hover effect */
}

nav ul li a:hover {
    background-color: white; /* Background color on hover */
    color: black; /* Text color on hover */
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    position: absolute; /* got top of relative parent hero */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    z-index: 1;
    color:white;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: white;
    color: black;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.content {
    z-index: 1;
    color: white;
    text-align: center;
}
.more-content {
    padding: 50px;
    background: white;
    color: black;
    text-align: center;
}

.more-content h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.more-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    a {
        font-size: 1rem;
        padding: 8px 16px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        margin: 5px 0;
        display: flex;
        align-items: start;
        justify-self: start;
        
    }
    nav {
        max-width:40%; 
        background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
        position: absolute;
        top:0;

    }
    .content {
        z-index: 1;
        color:white;
        text-align: right;
        
        
    }

    
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
