* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 16, 16);
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: aliceblue;
  border: 2px solid aliceblue;
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
}
a:hover {
  background-color: aliceblue;
  color: black;
  box-shadow: yellowgreen;
}
